@charset "UTF-8";

body{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

    /*
    Cabeçalho, parte onde fica a logo e botão de ir para a página de login.
    */

header{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 814.183px;
    height: 60px;
    border-bottom: 1px solid rgb(46, 46, 46);
}

header img{
    width: 60px;
    height: 60px;
}

#logo{
    display: flex;
    align-items: center;
    color: white;
    scale: 0.85;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#login{
    color: rgba(255, 255, 255, 0.726);
    display: flex;
    font-size: 15px;
    margin-right: 20px;
}

#login a{
    color: #FFD700;
    text-decoration: none;
    cursor: pointer;
}

    /*
    Fim do cabeçalho.
    /*

    /*
    Container principal. Contém o lado esquerdo e o direito.
    */

#container{
    max-width: 900px;
    height: 550px;
    display: flex;
}

    /*
    Lado esquerdo. Contém a imagem e as funcionalidades (escritas) do site.
    */

#image{
    
    background: url(../images/background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;

    flex: 6;

    color: rgb(255, 255, 255);
}

#image h1{
    scale: 0.85;
    margin-left: 0px;
}

#subtitle{
    scale: 0.9;
    margin: 10px;
    margin-top: 4px;
    opacity: 0.726;
}

span{
    background: linear-gradient(90deg, #FFD700, #FFC107);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    background-clip: text;
}

#form{
    background-color: white;

    flex: 5;
    flex-direction: column;

    width: 40%;
    height: 100%;
}

#titulo{
    text-align: center;
}

    /*Icons do lado esquerdo.*/

.icons{
    margin: 10px;
    display: flex;
    align-items: center;
    
    background-color: black;
    max-width: 35px;
    max-height: 35px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 10px rgba(255, 255, 2, 0.219);
}

.icons h4{
    white-space: nowrap;
}

.material-symbols-outlined{
    font-size: 34px;
}

.icons-descricao{
    scale: 0.9;
    margin-top: 10px;
    display: flex;
}

.descricao{
    margin-top: 10px;
}

.descricao p{
    color: rgba(255, 255, 255, 0.726);
    font-size: 15px;
}

    /*Fim dos icons do lado esquerdo e do lado esquerdo.*/