@charset "UTF-8";

:root{
    --cor-dourado: #FFD700;
    --cor-fundo: #050505;
    --cor-card: #0E0E0E;
    --cor-input: #111111;
    --cor-borda: #2A2A2A;

    --cor-texto: #FFFFFF;
    --cor-texto-secundario: rgba(255, 255, 255, 0.726);
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

#container-principal{
    border: 1px solid var(--cor-borda);
    border-radius: 10px;
}

main{
    width: 900px;
}

    /*
    Cabeçalho, parte onde fica a logo e botão de ir para a página de login.
    */

header{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    height: 60px;
    border-bottom: 1px solid rgb(46, 46, 46);
}

header img{
    width: 60px;
    height: 60px;
}

#logo{
    display: flex;
    align-items: center;
    color: white;
    scale: 0.85;
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#login{
    color: rgba(255, 255, 255, 0.726);
    display: flex;
    font-size: 15px;
    margin-right: 30px;
}

#login a{
    color: var(--cor-dourado);
    text-decoration: none;
    cursor: pointer;
}

    /*
    Fim do cabeçalho.
    /*

    /*
    Container principal. Contém o lado esquerdo e o direito.
    */

#container{
    max-width: 900px;
    height: 550px;
    display: flex;
}

    /*
    Lado esquerdo. Contém a imagem e as funcionalidades (escritas) do site.
    */

#image{
    
    background: url(../images/background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    height: 100%;

    flex: 6;

    color: rgb(255, 255, 255);
}

#image h1{
    scale: 0.85;
    margin-left: 0px;
}

#subtitle{
    scale: 0.9;
    margin: 10px;
    margin-top: 4px;
    opacity: 0.726;
}

span{
    background: linear-gradient(90deg, #FFD700, #FFC107);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    background-clip: text;
}

    /*Icons do lado esquerdo.*/

.icons{
    margin: 10px;
    display: flex;
    align-items: center;
    
    background-color: black;
    max-width: 35px;
    max-height: 35px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 10px rgba(255, 255, 2, 0.219);
}

.icons h4{
    white-space: nowrap;
}

.material-symbols-outlined{
    font-size: 34px;
}

.icons-descricao{
    scale: 0.9;
    margin-top: 10px;
    display: flex;
}

.descricao{
    margin-top: 10px;
}

.descricao p{
    color: rgba(255, 255, 255, 0.726);
    font-size: 15px;
}

    /*Fim dos icons do lado esquerdo e do lado esquerdo.*/

#formulario{
    background-color: var(--cor-card);
    color: var(--cor-texto);
    flex: 5;
    flex-direction: column;

    
    box-shadow: 0 10px 30px rgba(0,0,0,.35);

    width: 40%;
    height: 100%;
}

#titulo{
    margin-top: 20px;
    text-align: center;
}

#titulo p{
    margin-top: 3px;
    margin-bottom: 25px;
    color: var(--cor-texto-secundario);
}

#formulario label{
    display: block;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 16px;
    margin-bottom: 8px;
}

.campo{
    position: relative;
}

.campo input{
    width: 90%;
    box-sizing: border-box;

    margin-left: 15px;
    margin-right: 15px;

    padding: 12px 12px 8px 35px;

    color: var(--cor-texto-secundario);
    background-color: var(--cor-input);

    border: 1px solid var(--cor-borda);
    border-radius: 5px;
    outline: none;
}

.campo input:focus{
    border-color: var(--cor-dourado);
    box-shadow: 0 0 10px rgba(255,215,0,.15);
}

.campo .icone{
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);

    font-size: 30px; 
    color: var(--cor-dourado);
    padding-bottom: 1px;
}

#condicoes{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

#termos{
    appearance: none;
    -webkit-appearance: none;

    display: grid;
    place-items: center;

    background-color: var(--cor-input);

    width: 18px;
    height: 18px;

    border: 2px solid var(--cor-borda);
    border-radius: 5px;

    cursor: pointer;
    margin-right: 9px;
}

#termos:checked{
    background-color: var(--cor-dourado);
    transition: .5s ease-in-out;
}

#termos::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    transform: scale(0);
    transition: transform .15s ease-in-out;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    background: var(--cor-input);
}

#termos:checked::before{
    transform: scale(1);
}

#condicoes p{
    font-size: 12px;
    color: var(--cor-texto-secundario);
}

#condicoes p a{
    text-decoration: none;
    color: var(--cor-dourado);
}

#criar{
    width: 90%;
    height: 50px;
    
    text-align: center;

    margin-left: 15px;
    margin-right: 15px;

    color: var(--cor-input);
    font-weight: 600;
    background-color: var(--cor-dourado);

    border-radius: 10px;
    border: none;

    cursor: pointer;
    transition: 0.5s ease;
}

#criar:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(255, 215, 0, 0.25);
    transition: 0.5s ease;
}